body{
    font-family: 'Utah MT Cond';
    text-align: center;
}

.fa{
    font-size: 30px;
    padding: 10px;
    border-radius: 40px;
    border: 1px grey solid;
    color: black;
}

.fa:hover{
    opacity: 0.5;
}

a{
    color: black;
}

a:hover{
    opacity: 0.5;
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}
.header{
    font-size: 4em;
}

p{
    font-size: 2em;
}
